/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    width: auto;
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    max-width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: context-menu;
}

.odkazy {
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    text-align: center;
    padding: 0.7rem;
    margin: 0;
}

nav {
    font-size: 2rem;
    color: #48418e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hlavni {
    background-image: url(images/pozadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.uzasna {
    font-weight: 300;
    font-size: 2rem;
    margin: 1rem 0;
}

.moznosti {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}


a:visited {
    color: inherit;
}

a:hover {
    color: white;
    background-color: #48418e;
}

.superappka{
    text-decoration: none;
    font-weight: 800;
    color: white;
}

.hlavni p{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1.5rem 0;
}

.tlacitko {
    display: block;
    font-size: 1.7rem;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border: 0.5px solid white;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(37,19,61,0.5);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.stahnout {
    background-color: #48418e;
    margin-bottom: 1rem;
}

.stahnout:focus,
.stahnout:hover {
    background-color: transparent;
}

.vice:focus,
.vice:hover {
    background-color: #48418e;
}

.ikona {
    width: 15%;
}

.podrobnosti {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

h2 {
    color: #48418e;
}

.aktivity {
    text-align: center;
    margin: 1.5rem 0;
}

.aktivity p {
    font-size: 1.2rem;
}

footer {
    font-size: 2rem;
    background-color: #48418e;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

@media only screen and (min-width: 400px) {
    nav {
        font-size: 1.7rem;
    }

    .moznosti {
        flex-direction: row;
    }

    .tlacitko {
        margin: 1rem 1rem 1rem 0;
    }

    footer {
        font-size: 1rem;
    }

    .hlavni p {
        font-size: 3rem;
    }

    .aktivity p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 600px) {
    nav{
        flex-wrap: nowrap;
        justify-content: flex-start;
        font-size: 1.4rem;
    }

    .odkazy {
        padding: 1rem;
        text-align: left;
    }

    .podrobnosti {
        flex-direction: row;
        justify-content: space-between;
    }

    .aktivity {
        margin: 1rem;
    }
}

@media only screen and (min-width: 750px) {
    nav {
        font-size: 1.2rem;
    }

    .hlavni {
        background-image: url(images/telefon.png), url(images/pozadi.jpg);
        background-size: 40%, cover;
        background-position: right bottom, center;
        background-repeat: no-repeat;
        min-height: fit-content;
    }

    .hlavni p{
        width: 60%;
    }

    .tlacitko {
        font-size: 1.1rem;
    }

    .podrobnosti {
        flex-direction: row;
        justify-content: space-between;
    }

    .aktivity p {
        font-size: 1.2rem;
    }
}